/* Top of Page */
h1{
    font-family: Verdana;
    font-weight: Normal;
    font-size: 50px;
    color: black;
    text-align: center;
}
/* Top link */
p{
    color: Aquamarine(color);
    font-size: 16px;
    
}

/* Middle */

/* Middle Description */

/* Bottom */

/* Bottom link */


